div.container.center.index
  div.header
    h1='The 2011 Java Developers Conference'
  div.article
    form(method='post', action='/login')
      h4.subheader='What\'s your name?'
      input(type='text', name='username')
      - if (typeof(error) != 'undefined')
        span(class='error_msg') #{error}
      input(type='submit', value='Go!')
  div.footer
    small made by 
      a(href='http://springsprout.org' , target="_blank") springsprout
