div.container.center.index
  div.header
    h1='Welcome to the Live.log'
  div.article
    a#fbLogin(href='#')
      img(src='/images/sign-in-fb.png')
    &nbsp;&nbsp;
    a#twLogin(href=twitterLoginUrl)
     img(src='/images/sign-in-twitter.png')
    form#loginForm(method='post', action='/login')
      input(type='hidden', value=token, name='token')
  div.footer
    small made by 
      a(href='http://springsprout.org' , target="_blank") springsprout
  div#fb-root
script(src='/javascripts/jquery-1.6.1.min.js')
script(src='http://connect.facebook.net/en_US/all.js')
script(src='/javascripts/third-party.js')
