div.container.center.index
	div.header
		h1='2011 자바 개발자 컨퍼런스 피드백'
	div.article
		form(method='post', action='/login')
			h4.subheader='Nick Name: '
			input(type='text', name='username')
			- if (typeof(error) != 'undefined')
				span(class='error_msg') #{error}
			input(type='submit', value='Go!')
	div.footer
		a(href='http://springsprout.org') made by 봄싹

