!!! 5
html
	head
		title= "Realtime Feedbacks"
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/base.css')
	link(rel='stylesheet', href='/stylesheets/layout.css')
	link(rel='stylesheet', href='/stylesheets/skeleton.css')
	body!= body