/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid    
	#Tablet (Portrait)
	#Mobile (Portrait) 
	#Mobile (Landscape)
	#Clearing */
	
	

/* #Base 960 Grid 
================================================== */

	.container { position: relative; width: 840px; margin:auto; background:#FFF; padding: 60px; -webkit-border-radius:5px;  -moz-border-radius:5px;  border-radius:5px;top:5%;}
	.container.center{text-align: center;}
	.container.index{top:25%;}
	.container.presentation{width:600px; padding:60px 20px 30px;}
	
/* #Tablet (Portrait)
================================================== */	

	/* Note: Design for a width of 768px */

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container { width: 748px; top:5%; padding:30px 10px !important;}
		.container.index{top:25%;}
		.container.presentation{width:748px;top:0 !important;}
	}
	
	
/*	#Mobile (Portrait) 
================================================== */
	
	/* Note: Design for a width of 320px */
	
	@media only screen and (max-width: 767px) {
		.container { width: 310px;top:0;padding:20px 5px !important; }
    .container.presentation{width:310px;top:0!important;}
    ul.emotionCnt li{width:55px;font-size:12px;}
    ul.emotionCnt li.last-child{width:53px;}
    ul.emotionCnt{max-width:310px;}
    div#input_bar input#comment{margin-left: 0;width:210px;}
    div#titleBar h4{font-size:12px;}
	}	 
	
	
/* #Mobile (Landscape)
================================================== */

	/* Note: Design for a width of 480px */
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container { width: 470px;top:5% !important;padding:20px 5px !important;}
		.container.presentation{width:470px;top:0;}
	}
	 
	
/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 
	
	/* Use clearfix class on parent to clear nested columns, 
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	.row:after,
	.clearfix:after {
	  clear: both; }
	.row, 
	.clearfix {
	  zoom: 1; }
	  
	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
	  clear: both;
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}
	
	
	