* {
	padding: 0px;
	margin: 0px;
}
p {
	margin: 0px;
}
body {
	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul {
	list-style: none;
}
a {
	color: #00B7FF;
	text-decoration: none;
}
.ui-button {
	font-size: 0.8em;
	font-weight: normal;
}
#chat_body {
	width: 550px;
	background-color: grey;
}
#title_bar {
	width: 550px;
	padding: 5px;
	background-color: lightgrey;
}
#chat_box {
	width: 560px;
}
#rt_feedbacks {
	width: 385px;
	height: 250px;
	padding: 5px;
	background-color: white;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}
#statics_bar {
	width: 150px;
	height: 250px;
	padding: 5px;
	padding-right: 0;
	background-color: lightyellow;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
#input_bar {
	clear: both;
}
.tag {
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    display: inline-block;
    line-height: 1.9;
    margin: 0 3px 3px 0;
    padding: 0 10px 0 10px;
    text-decoration: none;
}
.tag:hover {
	cursor: pointer;
	background-color: #C0D0DC;
    border: 1px solid #C0D0DC;
	
}
.tag-count {
	color: #444444;
    font-size: 120%;
    font-weight: bold;
    margin-right: 4px;
}
.dis {
	background-color: #E8272C;
}
.diff {
	background-color: #FE7A15;
}
.like {
	background-color: #a4c639;
}
.same {
	background-color: #00AFEF;
}
.que {
	background-color: #4176ab;
}
.emoticon {
	width: 20px;
	height: 20px;
}